/* 1 */
nav .menu a {
    position: relative;
    display: inline-block;
    /* padding: 0 30px; */
    margin: 0 30px;
}

/* 2 */
nav .menu a:hover {
    color: orange;
}

nav .menu a:hover::after {
    width: 100%;
}

.max-width .menu {
    /* width: 300px; */
    /* add vao de them hieu ung */
    line-height: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav .menu a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #ffa800;
    -webkit-transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


/* home menu */

.home-menu {
    background-image: url('./hero.jpg');
    height: 700px;
    background-size: cover;

    /* 2 */
    position: relative;
    z-index: 1;
}

.max-width .logo img {
    height: 80px;
    width: 80px;
}

nav {
    margin-left: 10%;
}

nav .max-width {
    display: flex;
    justify-content: space-around;
}

/* thah orange bar */
.max-width {
    max-width: 1300px;
    padding: 50px;
    margin: 0 auto;
}


/* 3 */
.opacity-menu {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 2;
    position: absolute;
}

.max-width .menu a {
    color: white;
    font-family: 'Comissioner', sans-serif;
    font-size: 20px;

    /* noi sau khi opacity */
    z-index: 4;
}

/* noi sau khi cho vao opacity */
.max-width .logo {
    z-index: 9;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content-menu {
    width: 700px;
    height: 200px;
    margin-left: 10%;
    margin-top: 8%;
    color: white;
    position: relative;

    /* noi sau khi opacity */
    z-index: 999;
}

.content-menu .text p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 150;
    line-height: 60px;

    /* noi sau khi opacity */
    z-index: 9;
}

.content-menu .multi-button {
    width: 320px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#button1 {
    color: white;
    background-color: #ffa800;
    border: none;
    padding: 10px 10px;
    margin-right: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 50px;
    width: 50%;
}

#button2 {
    color: #ffa800;
    background-color: #ffaa0000;
    border: 2px solid #ffa800;
    padding: 10px 10px;
    margin-right: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 50px;
    width: 50%;
}


/* PART 2 */
.part2-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 50;
    color: rgb(39, 39, 39);
}

.max-width .title {
    text-align: center;
    font-size: 40px;
}
