* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    flex-wrap: wrap;
}

#head-img {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    width: 100%;
}

/* PAGE LEFT */
.page-left {
    margin-left: 40px;
    padding: 0px 15px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

/* MAIN CARD */
.main-card {
    margin-bottom: 50px;
}

.time-and-rate {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

.time-and-rate .icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.time-and-rate >p {
    margin: 0px;
    font-size: 12px;
}

.main-card .card-body .card-title {
    font-size: 35px;
    margin: 0px;
}

.main-card .card-body .card-text {
    margin: 10px 0px;
    line-height: 1.625em;
    font-size: 18px;
}

.card-author {
    display: flex;
    margin-top: 22px;
}

.card-author >img {
    width: 42px;
    height: 42px;
}

.card-author .card-details >h6 {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #060606;
    letter-spacing: .1em;
    margin: 0px;
}

.card-author .card-details >p {
    position: relative;
    font-size: 13px;
    margin: 0;
    line-height: 1em;
    color: #7b7b7b;
}


/* 2 COlUMN CARD */
.two-column-card {
    display: flex;
    flex-wrap: wrap;
}

.two-column-card .card-inner {
    padding: 0px 15px;
    margin-bottom: 30px;
    border-radius: 0px;
    border: none;
}

.two-column-card .card-inner >img {
    border-radius: 0px;
    height: 226PX;
    width: 322px;
}

.two-column-card .card-inner .card-body {
    padding: 0px;
}

.two-column-card .card-inner .card-body .card-title {
    font-size: 23px;
}

.two-column-card .card-inner .card-body .card-text {
    font-size: 16px;
    margin: 10px 0px;
}

.card-inner .card-body >a {
    margin: 18px 0px 8px;
    text-decoration: none;
    color: #060606;
    font-size: 12px;
    display: flex;
    line-height: 12px;
}

.card-inner .card-body >a >img {
    width: 20px;
    height: 14px;
    background-color: yellow;
    padding: 1px 3px 1px 3px;
}

.card-inner .card-body >a >p {
    margin: 0px 10px 0px 0px;
}


/* ROW CARD */
.row-card {
    width: 100%;
    padding: 10px 0px 50px;
}

#poster {
    margin-bottom: 0px;
}

#poster >img {
    max-width: 100%;
    height: auto;
}

#poster .card-body {
    margin-bottom: 50px;
    padding-top: 30px;
    background-color: antiquewhite;
}

#poster .card-body >h5 {
    color: #060606;
    font-family: Oswald;
    font-size: 35px;
    letter-spacing: 0.075em;
    font-weight: 600;
}

#poster .card-body >a {
    color: #060606;
    background-color: #FEE86D;
    font-weight: 700;
    padding: 20px 40px;
    width: max-content;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin-top: 10px;
}

/* -----TITLE */
.row-card .title {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
}

.row-card .title >h5 {
    font-size: 18px;
    width: 40%;
    margin: 0px;
}

.row-card .title >span {
    width: 100%;
    height: 7px;
    border-top: 1px solid #eae9e7;
    border-bottom: 1px solid #eae9e7;
}

/* ------INNER */
.row-card .card-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px 15px;
    margin-bottom: 30px;
}

.row-card .card-inner >img {
    width: 330px;
    height: 225px;
}

.row-card .card-inner .card-body {
    padding-left: 30px;
    padding-right: 2%;
    width: 200px;
}

.row-card .card-inner .card-body .time-and-rate {
    margin: 0px 0px 8px 0px;
}

.row-card .card-inner .card-body .card-title {
    font-size: 23px;
}

.row-card .card-inner .card-body .card-text {
    margin: 10px 0px;
    padding-right: 29px;
}

.row-card .card-inner .card-body .share-love-icon >img {
    width: 18px;
    height: 18px;
    margin: 10px;
}

.row-card .card-inner .card-body .share-love-icon >div >img {
    width: 16px;
    height: 16px;
}

#end-row-cards {
    padding: 100px 0px 120px;
}


/* PRODUCTS WE LOVE */
.product-we-love .title {
    background-color: #FEE86D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    width: max-content;
}

.product-we-love .title >img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.product-we-love .title >p {
    margin: 0px;
    font-size: 12px;
}

.product-we-love .products {
    display: flex;
    width: 100%;
    border: 1px solid #b1b1b1;
    padding: 20px;
}

.product-we-love .products .card {
    padding: 0px 28px;
    border: none;
    border-right: 1px solid #b1b1b1;
    border-radius: 0px;
    word-wrap: normal;
    height: 100%;
}

.product-we-love .products .card >div {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.product-we-love .products .card >div >img {
    width: 90px;
    transform: rotate(90deg);
    border-radius: 0px;
}




/* PAGE RIGHT */
.page-right {
    padding-left: 15px;
    width: 33%;
    margin-right: 45px;
}

.page-right .card {
    border: 1px solid #eae9e7;
    text-align: center;
    align-items: center;
    padding: 7px 10% 30px;
    margin: 0 0 42px;
    border-radius: 0%;
}

/* ABOUT US  */
.page-right .card >h5 {
    font-size: 12px;
}

.page-right .card >img {
    width: 138px;
    border-radius: 100%;
}

.page-right .card .card-body .card-text {
    margin: 0px 0px 22px;
    color: #5c5c5c;
}

/* FOLLOW ME */
.social-media-icon-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px 0px;
}

.follow-me-icon {
    width: 18px;
    height: 18px;
}

/* CATAGORIES */
.catagories >a >img {
    max-width: 100%;
    margin: 0 0 42px;
}

/* LATEST RECIPES */


.latest-recipes {
    display: flex;
    flex-direction: row;
    height: 85px;
    justify-content: space-between;
    padding: 0px;
    margin: 0px 0px 20px;
    border: none;
}

.latest-recipes >img {
    border-radius: 0;
    width: 120px;
    height: 85px;

}

.latest-recipes .card-body {
    text-align: left;
    padding: 0px 0px 10px 15px;

}

.latest-recipes.card-body >h6 {
    font-size: 15px;
    font-weight: 500;
}

.latest-recipes.card-body >p {
    font-size: 13px;
}



/* FOOTER */